@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
    <h1>Welcome to</h1>
<img src="https://k-state.instructure.com/courses/83099/files/10852332/preview" alt="logo"/>


<p style="text-align: center">
    <a href="Privacy">Privacy Policy</a>

    <a href="About">About Us</a>

    <a href="Menu">Restaurant Menu</a>
</p>

