/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
a:link, a:visited {
    background-color: green;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 5px 6px black;
    
}

a:hover, a:active {
    background-color: darkgreen;
}

img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 25%;
}

h1 {
    text-align: center;
    font-family: Impact;
    font-size: 36px;
}
#food{
    width: 50%;
}
#fullmenu {
    width: 100%;
    display: flex;
    flex-direction: row;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

form {
    background-color: lightgray;
    padding: 20px;
    width: 400px;
    float: right;
}

.checkbox-list {
    display: flex;
    flex-direction: column;
}

.gridbox {
    display: grid;
    grid-template-columns: 100px 80px 100px;
    grid-template-rows: 20px 20px 20px 20px;
    text-align: center;
}
.griditem {
    border:solid 1px black;
}

